<!-- MODAL CREAR CATEGORIA -->
<button class="btn btn-outline" (click)="crearModal = true">Crear Categoria</button>

<clr-modal [(clrModalOpen)]="crearModal">
  <h3 class="modal-title">Agregar Categoria</h3>
  <div class="modal-body">
    <form clrForm>
      <!-- INPUT NOMBRE CATEGORIA -->
      <clr-input-container>
        <label>Nombre Categoria</label>
        <input clrInput placeholder="Nombre Mes" name="nombreMes" [(ngModel)]="catAddModel.nombreGasto" style="width: 100%;"/>
      </clr-input-container>
      <clr-input-container>
        <label>Orden</label>
        <input clrInput placeholder="Orden" name="orden" [(ngModel)]="catAddModel.orden" style="width: 100%;"/>
      </clr-input-container>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="addCatCollection()">Crear</button>
  </div>
</clr-modal>
<!-- FINAL MODAL CREAR CATEGORIA -->

<div class="clr-row">
  <div class="clr-col-lg-4 clr-col-md-6 clr-col-12" >
    <clr-datagrid>
      <clr-dg-column [clrDgField]="'nombreGasto'">Nombre Categoria</clr-dg-column>
      <clr-dg-column [clrDgField]="'orden'">Orden Categoria</clr-dg-column>

      <clr-dg-row *clrDgItems="let item of (catModel | async) ?? []">
        <clr-dg-cell>{{item.nombreGasto}}</clr-dg-cell>
        <clr-dg-cell>{{item.orden}}</clr-dg-cell>
      </clr-dg-row>

      <clr-dg-footer>
        <clr-dg-pagination #pagination [clrDgPageSize]="20">
          <clr-dg-page-size [clrPageSizeOptions]="[10, 20, 50, 100]">Categorias por pagina</clr-dg-page-size>
          {{ pagination.firstItem + 1 }} - {{ pagination.lastItem + 1 }} de {{ pagination.totalItems }} categorias
        </clr-dg-pagination>
      </clr-dg-footer>
    </clr-datagrid>
  </div>
</div>
