<!-- MODAL CREAR CATEGORIA -->
<button class="btn btn-outline" (click)="crearModal = true">Crear Categoria</button>

<clr-modal [(clrModalOpen)]="crearModal">
  <h3 class="modal-title">Agregar Categoria</h3>
  <div class="modal-body">
    <form clrForm>
      <!-- INPUT NOMBRE CATEGORIA -->
      <clr-input-container>
        <label>Nombre Categoria</label>
        <input clrInput placeholder="Nombre Mes" name="nombreMes" [(ngModel)]="catAddModel.nombreGasto" style="width: 100%;"/>
      </clr-input-container>
      <clr-input-container>
        <label>Orden</label>
        <input clrInput placeholder="Orden" name="orden" [(ngModel)]="catAddModel.orden" style="width: 100%;"/>
      </clr-input-container>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="addCatCollection()">Crear</button>
  </div>
</clr-modal>
<!-- FINAL MODAL CREAR CATEGORIA -->

<div class="clr-row">
  <div class="clr-col-lg-4 clr-col-md-6 clr-col-12" *ngFor="let item of catModel | async">
    <div class="card">
      <h3 class="card-header">{{item.nombreGasto}}</h3>
      <div class="card-block">
        <!-- <h4 class="card-title">{{item.nombreMes}}</h4> -->
        <!-- <div class="card-text">...</div> -->
      </div>
      <!-- <div class="card-footer">
        <button class="btn btn-sm btn-link">Footer Action 1</button>
        <button class="btn btn-sm btn-link">Footer Action 2</button>
      </div> -->
    </div>
  </div>
</div>
