<!-- MODAL CREAR ANIO -->
<button class="btn btn-outline" (click)="crearModal = true">Crear Mes</button>

<clr-modal [(clrModalOpen)]="crearModal">
  <h3 class="modal-title">Agregar Anio</h3>
  <div class="modal-body">
    <form clrForm>
      <!-- INPUT NOMBRE MES -->
      <clr-input-container>
        <label>Nombre Mes</label>
        <input clrInput placeholder="Nombre Mes" name="nombreMes" [(ngModel)]="mesAddModel.nombreMes" />
      </clr-input-container>
      <clr-input-container>
        <label>Orden</label>
        <input clrInput placeholder="Orden" name="orden" [(ngModel)]="mesAddModel.orden" />
      </clr-input-container>
      <!-- INPUT ANIO -->
      <!-- <clr-datalist-container>
        <label>Año</label>
        <input clrDatalistInput [(ngModel)]="mesAddModel.anio" placeholder="Año" name="anio" />
        <datalist>
          <option *ngFor="let item of anioModel | async" [value]="item.numeroAnio"></option>
        </datalist>
      </clr-datalist-container> -->
      <!-- <clr-input-container>
        <label>Año</label>
        <input clrInput placeholder="Año" name="anio" [(ngModel)]="mesAddModel.anio" />
      </clr-input-container> -->
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="addMesCollection()">Crear</button>
  </div>
</clr-modal>
<!-- FINAL MODAL CREAR ANIO -->

<div class="clr-row">
  <div class="clr-col-lg-4 clr-col-md-6 clr-col-12">
    <clr-datagrid>
      <clr-dg-column [clrDgField]="'nombreMes'">Mes</clr-dg-column>

      <clr-dg-row *clrDgItems="let item of (mesModel | async) ?? []">
        <clr-dg-cell>{{item.nombreMes}}</clr-dg-cell>
      </clr-dg-row>

      <clr-dg-footer>
        <clr-dg-pagination #pagination [clrDgPageSize]="10">
          <clr-dg-page-size [clrPageSizeOptions]="[10, 20, 50, 100]">Meses por pagina</clr-dg-page-size>
          {{ pagination.firstItem + 1 }} - {{ pagination.lastItem + 1 }} de {{ pagination.totalItems }} meses
        </clr-dg-pagination>
        <!-- {{ (mesModel | async)?.length }} users -->
      </clr-dg-footer>
    </clr-datagrid>
  </div>
</div>
