<!-- MODAL CREAR ANIO -->
<button class="btn btn-outline" (click)="crearModal = true">Crear Mes</button>

<clr-modal [(clrModalOpen)]="crearModal">
  <h3 class="modal-title">No "x" in the top-right corner</h3>
  <div class="modal-body">
    <form clrForm>
      <!-- INPUT NOMBRE MES -->
      <clr-input-container>
        <label>Nombre Mes</label>
        <input clrInput placeholder="Nombre Mes" name="nombreMes" [(ngModel)]="mesAddModel.nombreMes" />
      </clr-input-container>
      <clr-input-container>
        <label>Orden</label>
        <input clrInput placeholder="Orden" name="orden" [(ngModel)]="mesAddModel.orden" />
      </clr-input-container>
      <!-- INPUT ANIO -->
      <!-- <clr-datalist-container>
        <label>Año</label>
        <input clrDatalistInput [(ngModel)]="mesAddModel.anio" placeholder="Año" name="anio" />
        <datalist>
          <option *ngFor="let item of anioModel | async" [value]="item.numeroAnio"></option>
        </datalist>
      </clr-datalist-container> -->
      <!-- <clr-input-container>
        <label>Año</label>
        <input clrInput placeholder="Año" name="anio" [(ngModel)]="mesAddModel.anio" />
      </clr-input-container> -->
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="addMesCollection()">Crear</button>
  </div>
</clr-modal>
<!-- FINAL MODAL CREAR ANIO -->

<div class="clr-row">
  <div class="clr-col-lg-4 clr-col-md-6 clr-col-12" *ngFor="let item of mesModel | async">
    <div class="card">
      <h3 class="card-header">{{item.anio}}</h3>
      <div class="card-block">
        <h4 class="card-title">{{item.nombreMes}}</h4>
        <!-- <div class="card-text">...</div> -->
      </div>
      <!-- <div class="card-footer">
        <button class="btn btn-sm btn-link">Footer Action 1</button>
        <button class="btn btn-sm btn-link">Footer Action 2</button>
      </div> -->
    </div>
  </div>
</div>
