<div class="main-container">
  <header class="header-6">
    <div class="branding">
      <a href="javascript://">
        <cds-icon shape="vm-bug"></cds-icon>
        <span class="title">Project Clarity</span>
      </a>
    </div>
    <div class="settings">
      <a href="javascript://" class="nav-link nav-icon">
        <cds-icon shape="cog"></cds-icon>
      </a>
    </div>
  </header>
  <nav class="subnav">
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link active" routerLink="">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="admin/anio">Año</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="admin/mes">Mes</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="admin/categoria">Categoria</a>
      </li>
    </ul>
  </nav>
  <div class="content-container">
    <div class="content-area">
      <router-outlet></router-outlet>
    </div>
 <!--    <clr-vertical-nav>
      <a clrVerticalNavLink routerLink="">Home</a>
      <a clrVerticalNavLink routerLink="admin/anio">Año</a>
      <a clrVerticalNavLink routerLink="admin/mes">Mes</a>
      <a clrVerticalNavLink routerLink="admin/categoria" class="active">Categoria</a>

      <a clrVerticalNavLink>Link 5</a>
      <a clrVerticalNavLink>Link 6</a>
    </clr-vertical-nav> -->
  </div>
</div>
