<div class="main-container">
  <header class="header-6">
    <div class="branding">
      <a href="javascript://">
        <cds-icon shape="vm-bug"></cds-icon>
        <span class="title">Project Clarity</span>
      </a>
    </div>
    <div class="settings">
      <a href="javascript://" class="nav-link nav-icon">
        <cds-icon shape="cog"></cds-icon>
      </a>
    </div>
  </header>
  <nav class="subnav">
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="home" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="admin/anio" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Año</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="admin/mes" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Mes</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="admin/categoria" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Categoria</a>
      </li>
    </ul>
  </nav>
  <div class="content-container">
    <div class="content-area">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
