.login-wrapper {
    background: url('../../../assets/fondo.png') !important;
}

.btn .google-icon {
    fill: white; /* O el color que corresponda para tu diseño */
    margin-left: 8px; /* Espacio entre el texto y el icono */
  }
  