<!-- ALERTAS DE INVITACION GRUPO -->
<clr-alert [clrAlertType]="tipoAlerta" *ngIf="mostrarAlerta">
  <clr-alert-item>
    <span class="alert-text">{{mensajeAlerta}}</span>
  </clr-alert-item>
</clr-alert>

<!-- TERMINA ALERTAS DE INVITACION DE GRUPO -->


<!-- MODAL CREAR Grupo -->
<button class="btn btn-outline" (click)="crearModal = true">Crear Grupo</button>

<clr-modal [(clrModalOpen)]="crearModal">
  <h3 class="modal-title">Agregar Grupo</h3>
  <div class="modal-body">
    <form clrForm>
      <!-- INPUT NOMBRE MES -->
      <clr-input-container>
        <label>Nombre Grupo</label>
        <input clrInput placeholder="Nombre Grupo" name="nombreGrupo" [(ngModel)]="grupoAddModel.nombreGrupo" />
      </clr-input-container>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="addGrupoCollection()">Crear</button>
  </div>
</clr-modal>
<!-- FINAL MODAL CREAR ANIO -->


<!-- MODAL VER Grupo -->
<clr-modal [(clrModalOpen)]="verModal">
  <h3 class="modal-title">Grupo {{ grupoVerModel.nombreGrupo }}</h3>
  <div class="modal-body">
    <form clrForm>
      <!-- INPUT NOMBRE MES -->
      <clr-input-container>
        <label>Nombre Grupo</label>
        <input clrInput placeholder="Nombre Grupo" name="nombreGrupo" [(ngModel)]="grupoAddModel.nombreGrupo" />
      </clr-input-container>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="addGrupoCollection()">Crear</button>
  </div>
</clr-modal>
<!-- FINAL MODAL VER GRUPO -->


<div class="clr-row">
  <div class="clr-col-lg-3 clr-col-md-4 clr-col-12" *ngFor="let item of (grupoModel | async) ?? [] ">
    <div class="card clickable" (click)="verGrupoCollection(item.codigoUnico)">
      <h3 class="card-header">
        {{item.nombreGrupo}}
        <button type="button" (click)="copyText(item.codigoUnico, $event)" class="btn btn-icon btn-link"
          aria-label="home" style="float: right;margin: 0px;">
          <cds-icon shape="share"></cds-icon>
        </button>
      </h3>
      <div class="card-block">
        <div class="card-text">Cantidad de integrantes: {{item.integrantes.length}}</div>
      </div>
    </div>
  </div>
</div>


<div class="clr-row">
  <div class="clr-col-lg-4 clr-col-md-6 clr-col-12">
    <clr-datagrid>
      <clr-dg-column [clrDgField]="'nombreGrupo'">nombre Grupo</clr-dg-column>
      <clr-dg-column [clrDgField]="'codigoUnico'">Codigo Invitacion</clr-dg-column>
      <clr-dg-column>Invitacion</clr-dg-column>

      <clr-dg-row *clrDgItems="let item of (grupoModel | async) ?? []">
        <clr-dg-cell>{{item.nombreGrupo}}</clr-dg-cell>
        <clr-dg-cell>{{item.codigoUnico}}</clr-dg-cell>
        <clr-dg-cell>
          <button (click)="copyText(item.codigoUnico, $event)">Copiar Texto</button>
        </clr-dg-cell>
      </clr-dg-row>

      <clr-dg-footer>
        <clr-dg-pagination #pagination [clrDgPageSize]="10">
          <clr-dg-page-size [clrPageSizeOptions]="[10, 20, 50, 100]">Grupos por pagina</clr-dg-page-size>
          {{ pagination.firstItem + 1 }} - {{ pagination.lastItem + 1 }} de {{ pagination.totalItems }} meses
        </clr-dg-pagination>
        <!-- {{ (mesModel | async)?.length }} users -->
      </clr-dg-footer>
    </clr-datagrid>
  </div>
</div>
