<!-- MODAL CREAR ANIO -->
<button class="btn btn-outline" (click)="crearModal = true">Crear Año</button>

<clr-modal [(clrModalOpen)]="crearModal">
  <h3 class="modal-title">Agregar Año</h3>
  <div class="modal-body">
    <form clrForm>
      <!-- INPUT numero anio -->
      <clr-input-container>
        <label>Numero anio</label>
        <input clrInput placeholder="Numero Anio" name="numeroAnio" [(ngModel)]="anioAddModel.numeroAnio" />
      </clr-input-container>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="addAnioCollection()">Crear</button>
  </div>
</clr-modal>
<!-- FINAL MODAL CREAR ANIO -->

<div class="clr-row">
  <div class="clr-col-lg-4 clr-col-md-6 clr-col-12" >
    <clr-datagrid>
      <clr-dg-column [clrDgField]="'numeroAnio'">Numero año</clr-dg-column>

      <clr-dg-row *clrDgItems="let item of (anioModel | async) ?? []">
        <clr-dg-cell>{{item.numeroAnio}}</clr-dg-cell>
      </clr-dg-row>

      <clr-dg-footer>
        <clr-dg-pagination #pagination [clrDgPageSize]="10">
          <clr-dg-page-size [clrPageSizeOptions]="[10, 20, 50, 100]">Años por pagina</clr-dg-page-size>
          {{ pagination.firstItem + 1 }} - {{ pagination.lastItem + 1 }} de {{ pagination.totalItems }} años
        </clr-dg-pagination>
      </clr-dg-footer>
    </clr-datagrid>
  </div>
</div>
